body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
word-break: break-all;
}

body {
    display: grid;
    grid-template-columns: 2fr 5fr 5fr 5fr 2fr;
    font-family: 'Barlow Condensed', sans-serif;
    color: black;
    background: radial-gradient(circle, rgba(255,255,255,1) 58%, rgba(128,128,128,1) 100%);
}
    header {
        grid-column: 1/6;
        /* background-color: red; */
        color: black;        
    }
        .kalba {
            display: inline-block;
            /* background-color: hotpink; */
            margin-left: 50px;
            margin-top:20px;
        }
            .kalba > .LT {
                color: inherit;
                font-size: 20px;
                line-height: 30px;
                text-decoration: none;
            }
            .kalba > span {
                font-size: 20px;
            }
            .kalba > p {
                font-size: 30px;
                line-height: 30px;
            }
        .title {
            display: inline-block;
            font-family: 'Press Start 2P', cursive;
            text-align: center;
            width: 100%;
            font-size: 60px;
            letter-spacing: 10px;
            /* background-color: green; */
        }
        .rightside {
            display: inline-block;
            float: right;
            width: 23%;
            /* background-color: greenyellow; */
            font-size: 20px;
            margin-right: 50px;
            margin-top: 30px;
            line-height: 40px;
        }
        .login {
        }
            .rightside a {
                display: inline-block;
                color: black;
                text-decoration: none;
                width: 50%;
                font-size: 22px;
                /* background-color: red; */
            }
            .rightside > input {
                display: inline-block;
                font-size: 20px;
                background-color: transparent;
                border: 1px solid rgba(0, 0, 0, 0.452)
            }
            .rightside > input:hover {
                border: 1px solid black;
                background-color: white;;
            }
            .rightside > .box {
                display: inline-block;
                /* background-color: yellow; */
                width: 50px;
                height: 30px;
            }
            .rightside > .box:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
        .linksButton {
            display: none;
            font-size: 35px;
            transition: 0.5s;
            position: absolute;
            top: 15px;
            left: 15px;
            color: black;
            cursor: pointer;
            padding: 5px;
            border: 5px ridge rgba(0, 0, 0, 0.1);
            border-radius: 30%;
        }
        .links {
            display: flex;  
            line-height: 20px;
            /* background-color: rosybrown; */
            color:  black;
            margin-top: 30px;
            padding: 10px 0px;
            font-size: 24px;
            font-family: 'Barlow Condensed', sans-serif;
            border-bottom: 3px double black;
            justify-content: center;
        }
            .links > a {
                color: black;
                padding-left: 50px;
                text-decoration: none;
            }





    .mainbody {
        grid-column: 2/5;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        /* background-color: blueviolet; */
        transition: 1s linear;
        position: relative;
    }
        .slide1 {
            display: flex;
            overflow: hidden;
            width: 110vh;
            grid-column: 2/3;
            margin: 0 auto;
            /* background-color: blanchedalmond; */
            position: relative;
        }
        .slide1 button {
            position: absolute;
            background-color: transparent;
            border: none;
            width: 4vh;
            height: 4vh;
            border-radius: 35%;
            font-size: 4vh;
            z-index: 1;
        }
        .slide1 button:hover {
            background-color: rgba(231, 230, 230, 0.521);
        }
        .slide1 button:first-of-type {
            top: 50%;
        }
        .slide1 button:last-of-type {
            top: 50%;
            right: 0%;
        }
        .bigSlide {
        }
    
        .bigPhoto {
            width: 110vh;
            min-height: 73.34vh;
        }








        .slide2 {
            grid-column: 2/3;
            margin-top: 30px;
            font-size: 25px;
        }
        .maintext {
            position: relative;
            height: auto;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            font-size: 35px;
            letter-spacing: 5px;
            background-color:rgba(0, 0, 0, 0.1);
            border-left: 5px solid gray;
            border-right: 5px solid gray;
        }
        .allSmallSlides {
            display: flex;
            width: 1100px;
            margin: 0 auto;
            overflow: hidden;
            transition: 1s;
            position: relative;
            }
            .slide2area {
                display: flex;
                width: 1100px;
                margin: 0 auto;
                transition: 1s;
            }
            .smallSlide {
                padding: 10px 10px 30px 10px;
            }
            /* .smallSlide:first-of-type {
                padding: 10px 10px 30px 10px;
            } */
            .smallPhoto {
                width: 252px;
            }
            .slide2 .slide2nav {
                position: absolute;
                bottom: 8%;
                left: 44%;
            }
            .slide2 .slide2nav .fa {
                margin: 0px 5px;
                font-size: 30px;
                color: rgba(128, 128, 128, 0.521);
            }
            .slide2 .slide2nav .fa:hover {
                transform: scale(1.2);
                color: rgba(92, 92, 92, 0.884);
            }







            
        .lightboxBox {
            grid-column: 2/3;
            position: relative;
            height: auto;
            width: 90%;
            height: 1000px;
            margin: auto;
            padding: 40px 0px;
            margin-top: 100px;
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 2vh;
            grid-auto-flow:dense;
        }
            .lightbox{
                height: 100%;
                width: 100%;
                overflow: hidden;
            }
            .lightbox1{
                grid-column-start: span 1;
                grid-row-start: span 2;
            }
            .lightbox6 {
                grid-column-start: span 2;
            }
            .lightbox10{
                grid-column-start: span 1;
                grid-row-start: span 2;
            }
            .lightbox img:hover{
                filter: brightness(1) grayscale(0);
            }
            .lightbox img {
                filter: brightness(0.75) grayscale(1);
                transition: 0.2s linear;
            }
            .lightbox1 img, .lightbox2 img, .lightbox3 img, .lightbox5 img, .lightbox6 img, .lightbox7 img, .lightbox8 img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
            .lightbox2 img, .lightbox10 img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: bottom;
            }
            .lightbox9 img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: 0px -170px;
            }
            .lightboxText {
                position: absolute;
                height: auto;
                width: 111%;
                left: 50%;
                top: -70px;
                transform: translateX(-50%);
                text-align: center;
                font-size: 35px;
                letter-spacing: 5px;
                background-color:rgba(0, 0, 0, 0.1);
                border-left: 5px solid gray;
                border-right: 5px solid gray;
            }
            
            
            
            
            
            
            
            
            
            
            footer {
                grid-column: 2/5;
                margin-top: 30px;
                /* background-color: salmon; */
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 200px 120px 120px;
            }  
            .form1 {
                grid-column: 1/4;
                grid-row: 1/2;
                display: grid;
                grid-template-columns: 6fr 5fr 3fr;
                padding-bottom: 40px;
                padding-left: 40px;
                border-top: 3px double black;
        
                }
    .about {
        grid-column: 1/2;
        font-size: 24px;
        margin-top: 10px;
        /* background-color: red; */
    }
    .help {
        grid-column: 2/3;
        font-size: 24px;
        margin-top: 10px;
    }
    .contacts {
        grid-column: 3/4;
        font-size: 24px;
        margin-top: 10px;
    }
    .about > a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        margin-top: 20px;
        font-size: 24px;
        color: black;
    }
    .contacts > a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        margin-top: 20px;
        font-size: 24px;
        color: black;
                }
                .help > a {
                    display: flex;
                    flex-direction: column;
                    text-decoration: none;
                    margin-top: 20px;
                    font-size: 24px;
                    color: black;
                }
                .form2 {
                    grid-column: 1/4;
                    grid-row: 2/3;
                    display: grid;
                    grid-template-columns: 6fr 5fr 3fr;
                    /* background-color: green; */
                    padding-bottom: 40px;
                    padding-left: 40px;
                    border-top: 3px double black;
                }
                .payment {
                    grid-column: 1/2;
                    font-size: 24px;
                    margin-top: 10px;
                }
                .payment > h3 {
                    display: inline-block;
                    /* background-color: red; */
                    width: 100%;
                }
                .payment  .fa {
                    display: inline-block;
                    color: black;
                    font-size: 40px;
                    margin-top: 10px;
                    padding: 2px 4px 0px 0px;
                }
                .shipping {
                    grid-column: 2/3;
                    font-size: 24px;
                    margin-top: 10px;
                }
                .shipping > h3 {
                    display: inline-block;
                    /* background-color: blue; */
                    width: 100%;                
                }
                .dhl {
                    display: inline-block;
                    width: 4rem;
                    padding: 3px;
                }
                .ups {
                    display: inline-block;
                    width: 4rem;
                    /* color:blue; */
                    padding: 8px 0px 0px 3px
                }
            .socials {
                grid-column: 3/4;
                font-size: 24px;
                margin-top: 10px;
            }
            .socials > h3 {
                display: inline-block;
                /* background-color: green; */
                width: 100%;   
            }
                .socials > .fa {
                    display: inline-block;
                    font-size: 40px;
                    color: black;
                    padding: 7px 12px 0px 0px;
                }
                .form3 {
                    grid-column: 1/4;
                    grid-row: 3/4;
                    display: grid;
                    grid-template-columns: 1fr 12fr 10fr 3fr;
                    border-top: 3px double black;
                    padding-left: 5px;
                }
                .brandlist {
                    grid-column: 2/4;
                    font-size: 24px;
                }
                .brandlist > h3 {    
                    margin: 10px 0px 0px 0px;
                }
                .brands {
                    flex-wrap: wrap;
                    display: flex;
                    justify-content: space-around;
                }
                .brandlist a {
                    display: inline-block;
                    /* background-color: red; */
                    text-decoration: none;
                    margin: 20px 10px 0px 0px;
                    font-size: 24px;
                    color: black;
                }
                a:hover {
                    transform: scale(1.05);
                }
    .shipping>a>img:hover {
        transform: scale(1.05);
    }
    










    
    @media only screen and (max-width: 1200px) {
        .lightboxBox {
            display: grid;
            grid-template-columns: 240px 240px 235px;
            height: 1000px;
        }
        .lightbox img{
        }
        .lightbox9 img {
            object-position: 0px -110px;
        }
        body {
            display: grid;
            grid-template-columns: 0.1fr 5fr 5fr 5fr 0.1fr;
        }
        .allSmallSlides {
            width: 810px;
            }
            .slide2area {
                width: 810px;
            }
        .rightside input, .rightside a {
            display: none;
        }
        .rightside .fa, .rightside .box {
            float: right;
            margin: 0px 10px;
        }
        .rightside i:hover {
            cursor: pointer;
            transform: scale(1.2);
        }
        .kalba {
            margin-left: 10px;
            margin-top:10px;
            display:none;
        }
        header{
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            grid-template-rows: 90px;
        }
        .title {
            width: 90%;
            grid-column: 2/3;
            display: block;
            position: absolute;
            top: 20px;
            left: 50px;
            font-family: 'Press Start 2P', cursive;
            text-align: center;
            /* width: 100%; */
            font-size: 60px;
            letter-spacing: 10px;
        }
        .rightside{
            grid-column: 3/4;
            justify-self: end;
            padding-right: 0px;
            display: flex;
        }
        .linksButton {
            display: block;
        }
        .links{
            position: absolute;
            text-align: center;
            flex-direction: column;
            /* margin-top: 100px; */
            /* overflow: hidden; */
            top: 40px;
            left: -300px;
            z-index: 2;
            width: 300px;
            cursor: pointer;
            border: none;
            transition: 1s;
        }
        .links > a {
            margin-left: 0;
            width: 300px;
            background: #fff;
            color: #000;
            display: block;
            padding: 18px 0;
            background-color:rgba(156, 156, 156, 0.959);
            border-left: 5px solid gray;
            border-right: 5px solid gray;
            border-bottom: 5px solid transparent;
        }
        .links > a:hover {
            border-bottom: 5px solid gray;
            transform: scale(1);
            box-shadow: 0px 0px 4px 0px gray;
        }
        .links > a:first-of-type{
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
        }
        .links > a:last-of-type{
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
        }

    }
    /* TODO susitraukus ekranui reikia padaryti mygtuka sone, kuris rodytu visus linkus. */
    /* TODO fix slide2 on 900px width */
    
    @media only screen and (max-width: 900px) {
        .slide1 {
            width: 80vh;
            margin: 0px 0px 0px 40px;
        }
        .bigPhoto {
            width: 80vh;
            min-height: 40vh;
        }
        header{
            display: grid;
            grid-template-columns: 100px auto 100px;
            grid-template-rows: 85px;
        }
        .title {
            grid-column: 2/3;
            display: block;
            position: absolute;
            top: 20px;
            font-family: 'Press Start 2P', cursive;
            text-align: center;
            width: 80%;
            font-size: 50px;
            letter-spacing: 10px;
        }
        .kalba {
            margin-left: 10px;
            margin-top:10px;
        }
        .linksButton {
            font-size: 30px;
        }
        .lightboxBox {
            display: grid;
            grid-template-columns: 290px 290px;
            height: auto;
        }
        .lightbox9 img {
            object-position: 0px 0px;
        }
        .lightboxText {
            width: 112%;
            left: -5%;
            transform: translateX(0%);
        }
        .maintext {
            width: 102%;
            left: 0%;
            transform: translateX(0%);
            margin-bottom: 30px;
        }
        .smallPhoto {
            width: 200px;
        }
        .allSmallSlides {
            width: 650px;
            margin: 0;
            }
            .slide2area {
                width: 650px;
            }
        .rightside{

            justify-self: left;

        }    
        
    }

    @media only screen and (max-width: 600px) {
        .slide1 {
            width: 50vh;
            margin: 0px 0px 0px 40px;
        }
        .bigPhoto {
            width: 50vh;
            min-height: 30vh;
        }
        .title {
            grid-column: 2/3;
            display: block;
            position: absolute;
            top: 20px;
            width: 100%;
            left: 0;
            font-family: 'Press Start 2P', cursive;
            text-align: center;
            /* width: 100%; */
            font-size: 35px;
            letter-spacing: 10px;
        }
        .linksButton {
            font-size: 25px;
        }
        .rightside {
            float: right;
            width: 23%;
            /* background-color: greenyellow; */
            font-size: 20px;
            margin-right: 40px;
            margin-top: 25px;
            line-height: 0px;
        }
        .rightside .box {
            max-width: 40px;
            max-height: 25px;
        }
        .kalba > .LT {
            color: inherit;
            font-size: 20px;
            line-height: 25px;
            text-decoration: none;
        }
        .kalba > span {
            font-size: 20px;
        }
        .kalba > p {
            font-size: 25px;
            line-height: 25px;
        }
        .lightboxText {
            width: 110%;
        }
        .maintext {
            width: 100%;
        }
        .smallPhoto {
            width: 130px;
        }
        .allSmallSlides {
            width: 450px;
            margin: 0;
            }
            .slide2area {
                width: 500px;
            }
            .smallSlide {
                padding: 10px 10px 30px 10px;
            }
            .slide2 .slide2nav {
                position: absolute;
                bottom: 0%;
                left: 28.5%;
            }
            .lightboxBox {
                display: block;
                height: auto;
                width: 90%;
            }
            .lightbox {
                margin: 10px;
            }
    }

    @media only screen and (max-width: 770px) {

        footer {
            margin-top: 30px;
            /* background-color: salmon; */
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto;
        }  
        .form1 {
            grid-column: 1/4;
            grid-row: 1/2;
            display: grid;
            grid-template-columns: 6fr 5fr 3fr;
            grid-template-rows: auto auto;
            padding-bottom: 40px;
            padding-left: 50px;
            border-top: 3px double black;
        }
        .help {
            grid-column: 2/4;
            margin-left: 30px;
        }
        .contacts {
            grid-column: 1/2;
            grid-row: 2/3;
            font-size: 24px;
            margin-top: 30px;
        }
        .form2 {
            grid-column: 1/4;
            grid-row: 2/3;
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            /* background-color: green; */
            padding-bottom: 40px;
            padding-left: 40px;
            border-top: 3px double black;
        }
        .payment {
            grid-column: 1/2;
            font-size: 24px;
            margin: 10px;
        }
        .shipping {
            grid-column: 2/3;
            font-size: 24px;
            margin: 10px 0px 0px 10px;
        }
        .socials {
            grid-column: 1/2;
            font-size: 24px;
            margin: 30px 10px 0px;
        }
        .brandlist {
            margin: 10px 0px 0px 20px;
        }

    }


    
    