.slider {
    padding-top: 00px;
    grid-column: 2/5;
    margin: 0 auto;
    width: auto;
    height: 610px;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;  
    scroll-behavior: smooth;
    margin-bottom: 120px;
    transition: 0.5s;
}

@media only screen and (max-width: 1200px) {
    .sneakerContainer {
        padding: 30px 0px;
    }
    .slider {
    }
    .card {
        width: 270px !important;
    }
    .sneakerContainer {
        width: 34% !important;
    }
    .sneaker img {
        width: 200px !important;
    }
    .circle {
        width: 10rem !important;
        height: 10rem !important;
    }
    /* popout effect */


}

@media only screen and (max-width: 900px) {
    .slider {
        height: auto;
        flex-wrap: wrap;
    }
    .card {
        width: 270px !important;
    }
    .sneakerContainer {
        width: 50% !important;
    }
}
@media only screen and (max-width: 600px) {
    .slider {
        margin-bottom: 100px;
        padding-top: 15px;
    }
    .sneakerContainer {
        width: 70% !important;
    }
    /* popout effect */
    .card {
        transform: rotateY(4.5deg) rotateX(7deg);
    }
}


.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 2000px;
}
.sneakerContainer {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}
.card {
    transform-style: preserve-3d;
    height: 500px;
    width: 350px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 0rem 10px;
}
.sneaker {
    height: 35vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.sneaker img {
    width: 250px;
    z-index: 2;
    transition: all 0.75s ease-out;
}
.circle {
    width: 12rem;
    height: 12rem;
    background: linear-gradient(90deg, rgba(167,67,77,1) 26%, rgba(0,0,0,1) 99%);
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.sneakerInfo {
    text-align: center;
}
.sneakerInfo h1 {
    font-size: 32px;
    transition: all 0.75s ease-out;
}
.sneakerInfo h3 {
    font-size: 1.3rem;
    padding: 20px 0px 20px;
    color: #999;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}
.sneakerSizes {
    display: flex;
    justify-content: space-around;
    transition: all 0.75s ease-out;
}
.sneakerSizes button {
    padding: 0.5rem 1.5rem;
    background: none;
    border:none;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #999;
}
.sneakerSizes button:hover {
    color: rgb(17, 14, 14);
}
.sneakerSizes button.active {
    background: #999;
    color: white;
}
.sneakerBuyNow {
    margin-top: 40px;
    margin-bottom: 30px;
}
.sneakerBuyNow button {
    width: 80%;
    padding: 0.8rem 0rem;
    background: #A7434D;
    border-radius: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
    font-size: 14px;
    transition: all 0.75s ease-out;
}
.sneakerBuyNow button:hover {
    color: rgb(17, 14, 14);
}