.brandsMain {
    grid-column: 2/3;
    grid-template-rows: auto auto auto;
}

.brandsSearchContainer {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 3px double black;
}
.brandsSearchContainer h3 {
    grid-column: 2/3;
    text-align: center;
    font-size: 45px;
    letter-spacing: 5px;
    word-break: keep-all;
}

    .brandsSearchContainer>.brandsSearch {
        grid-column: 3/4;
        display: flex;
        justify-content: center;
        justify-self: flex-end;
        align-items: center;
        width: 100px;
        height: 40px;
        font-size: 20px;
        color: #999;
        transition: 0.3s;
        border-radius: 3px;
    }   
    .brandsSearchContainer>.brandsSearch:hover {
        color: black;
        cursor: pointer;
        border: 2px solid black;
    }   
        .brandsSearch>select>option {
            font-size: 20px;
        }   




.brandsABCcontainer {
    grid-row: 2/3;
    margin-top: 30px;
    border-bottom: 3px double black;
    padding: 0px 100px 30px;
}
    .brandsABCcontainer>.brandsABClist {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
        .brandsABCcontainer>.brandsABClist>div {
            border: 1px solid #999;
            color: #999;
            border-radius: 5px;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;
            margin: 3px;
        }
        .brandsABCcontainer>.brandsABClist>div:hover {
            color: black;
            border: 1px solid black;
            transform: scale(1.01);
        }        
    



.brandscontainer  {
    grid-row: 3/4;
}
    .brandsList  {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 30px 50px;
        justify-content: center;
        /* background-color: red; */
    }
        .brandsList>.brandBox{
            width: 275px;
            height: 250px;
            margin: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* background-color: rebeccapurple; */
            transition: 0.3s;
        }
        .brandsList>.emptyText{
            width: 100%;
            font-size: 35px;
            height: 250px;
            margin: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
            .brandsList>div>img{
                width: 180px;
                /* background-color: yellow; */
            }
            .brandsList>div>h4{
                font-size: 28px;
                opacity: 0.8;
                font-weight: 100;
            }
            .brandsList>div>img:hover{
                cursor: pointer;
                transform: scale(1.02);
                background-color: rgba(153, 153, 153, 0.089);
            }
            .brandsList>div>h4:hover {
                cursor: pointer;
                opacity: 1;
                font-weight: 400;
            }
@media only screen and (max-width: 500px) {


}