.singleMain {
    grid-column: 2/3;
    grid-template-rows: auto auto;
}
.singleBody {
    display: grid;
    grid-row: 2/3;
    margin: 30px 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}
.productPhotos {
    grid-column: 1/3;
    grid-row: 1/2;
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
}
.productSlide {
    display: flex;
    flex-direction: column;
}
.productSlide img {
    width: 128px;
    margin: 20px 20px 10px 0px;
    /* background-color: blue; */
}
.productPhotoBig img {
    width: 100%;
    margin: 20px 0px;
    background-color: lightblue;
}


.productSelections {
    grid-column: 3/4;
    grid-row: 1/2;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.productTitle {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    margin: 0 10px;
}
.productTitle h5:first-of-type {
    font-weight: 100;
}
.productTitle h5:last-of-type {
    color: #999;
    font-weight: 100;
}
.productPriceInfo {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    margin: 20px 10px;
}
.productPriceInfo h5 {
    font-weight: 100;
    font-size: 32px;
}
.productPriceInfo h6 {
    font-weight: 100;
    font-size: 16px;
    color: #999;
}
.productColors {
    display: flex;
    margin: 20px 0px;
}
.productColors div {
    margin: 0 10px;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    cursor: pointer;
}
.productColors div:nth-of-type(1){
    background-color: green;
}
.productColors div:nth-of-type(2){
    background-color: blue;
}
.productColors div:nth-of-type(3){
    background-color: red;
}
.productColors div:nth-of-type(4){
    background-color: black;
}
.productColors div:nth-of-type(5){
    background-color: white;
}
.productSizes {
}
.productSizesList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 20px 5px;
}
.productSizesList button {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 5px;
    width: 60px;
    height: 40px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3s;
    background-color: white;
}
.productSizesList button:hover {
    background-color: black;
    color: white;
}
.productSizesList button.active {
    background: black;
    color: white;
}
.productSizesList li:last-of-type, .productSizesList li:nth-of-type(9), .productSizesList li:nth-of-type(8) {
    border: 1px solid #999;
    color: #999;
    opacity: 0.5;
    cursor: auto;
}
.productSizesList li:last-of-type:hover, .productSizesList li:nth-of-type(9):hover, .productSizesList li:nth-of-type(8):hover {
    background-color: white;
    color: #999;
}
.productAddToCart {
    margin: 20px 10px;
}
.productAddToCart button {
    width: 100%;
    height: 40px;
    font-size: 24px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.productAddToCart button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}
.productInfo {
    grid-row: 2/3;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.productMaterial {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}
.productInfo h3 {
    font-size: 32px;
    text-align: center;
    font-weight: 200;
    border-bottom: 3px solid black;
    margin: 0px 10px;
}
.productMaterial p {
    margin: 5px 10px;
    font-size: 20px;
}
.productSpecs {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}
.productSpecs div {
    display: flex;
    flex-direction: row;
    margin: 5px 10px;
    justify-content: flex-start;
}
.productSpecs div h5 {
    font-size: 20px;
    font-weight: 100;
}
.productSpecs div h6 {
    font-size: 20px;
    font-weight: 100;
    margin: 0px 10px;
}







.newsletterMain {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 3px double black;
}
.newsletterBody {
    width: 800px;
    text-align: center;
}
.newsletterBody h3 {
    font-size: 24px;
    letter-spacing: 2px;
    word-break: keep-all;
}
.newsletterBody h6 {
    font-size: 14px;
    color: #999;
    opacity: 0.8;
    font-weight: 200;
    margin: 5px 0px 20px;
}
.newsletterBody input {
    width: 380px;
    height: 40px;
    font-size: 20px;
    color: #999;
    font-weight: 100;
    margin: 0px 0px 0px;
    opacity: 0.8;
}
.newsletterBody input:hover {
    opacity: 1;
}
.newsletterBody p {
    font-size: 12px;
    word-spacing: 2px;
    margin-bottom: 15px;
    margin-top: 20px;
    color: #999;
    word-break: keep-all;
}
.newsletterBody button {
    width: 400px;
    height: 40px;
    font-size: 22px;
    background-color: black;
    letter-spacing: 2px;
    color: white;
    margin-bottom: 10px;
}
.newsletterBody button:hover {
    transition: 0.5s;
    background-color: white;
    color: black;
}
.redPlaceHolder::placeholder {
        color: red;
        opacity: 0.8; 
}
.emailError {
    color: red;
    margin-top: 5px;
    font-size: 14px;
    opacity: 0.8;
}

@media only screen and (max-width: 1000px) {
    .singleBody {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
    }
    .productPhotos {
        grid-column: 1/4;
        grid-row: 1/2;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .productSlide {
        display: flex;
        flex-direction: row;
    }
    .productSlide img {
        width: 128px;
        margin: 20px 20px 10px 0px;
    }
    .productPhotoBig img {
        width: 100%;
        margin: 20px 0px;
    }
    .productSelections {
        grid-column: 1/4;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        margin: 20px 0px;
        border-top: 3px solid black;
    }
    .productInfo {
        grid-row: 3/4;
        grid-column: 1/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .newsletterBody {
        width: 600px;
    }
}
@media only screen and (max-width: 700px) {
    .productPhotos {
        grid-column: 1/3;
    }
    .productPhotoBig img {
        margin: 20px 0px 0px;
    }
    .productSlide img {
        width: 64px;
        margin: 20px 20px 0px 0px;
    }
    .productSelections {
        grid-column: 1/3;
    }
    .productInfo {
        grid-row: 3/4;
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    .productMaterial {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .productSpecs {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .newsletterBody {
        width: 400px;
    }
}

@media only screen and (max-width: 500px) {
    .productPhotos {
        grid-column: 1/2;
    }
    .productSelections {
        grid-column: 1/2;
    }
    .productInfo {
        grid-column: 1/2;
    }
    .productMaterial {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .productSpecs {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .newsletterBody {
        width: 300px;
    }
}