.blogMain {
    grid-column: 2/3;
    grid-template-rows: auto auto;
}
.blogHeader {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 3px double black;
}
.blogHeader h3 {
    grid-column: 2/3;
    text-align: center;
    font-size: 50px;
    letter-spacing: 10px;
}


.blogBody {
    margin-top: 30px;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
}
.blogList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px 50px;
    justify-content: flex-start;
    width: 1040px;
    /* background-color: red; */
}
.blogBox {
    width: 302px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* background-color: rebeccapurple; */
    transition: 0.3s;
    /* border: 1px solid transparent; */
    /* box-shadow: 0px 0px 5px 0px rgb(220, 220, 220); */
    position: relative;
    margin: 20px;
    overflow: hidden;
    cursor: pointer;
}
    .blogBox img {
        width: 300px;
        transition: 1s;
    }
    .blogBox h3 {
        position: absolute;
        top: 230px;
        left: 0;
        right: 0;
        color: rgba(255, 255, 255, 0.836);
        padding: 15px 30px;
        font-size: 20px;
        word-spacing: 1px;
        line-height: 20px;
        z-index: 1;
        word-break: keep-all;
        text-align: left;
        font-weight: 200;
    }
    .blogBox h3::before {
        background-color: #333;
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 52px;
        z-index: -1;
    }
    .blogBox h3::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 52px;
        left: 0;
        right: 0;
        height: 100%;
        background: linear-gradient(to bottom, transparent 0%, #333 100%);
        z-index: -1;
    }
    .blogBox p {
        margin: 20px 20px 10px 20px;
        word-break: keep-all;
        font-size: 18px;
        line-height: 20px;
        padding-bottom: 10px;
        border-bottom: 2px solid black;
        transition: 1s;
    }
    .blogBox p strong {
        font-size: 20px;
        font-weight: 900;
        margin-right: 5px;
    }
    .blogBoxFooter {
        display: flex;
        width: 90%;
        margin: 5px 8% 0px 2%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .blogBoxFooter h4 {
        font-size: 16px;
        font-weight: 100;
    }
    .blogBoxFooter i {
        line-height: 22px;
        margin-right: 5px;
    }
    .blogBoxFooter i:nth-of-type(2), .blogBoxFooter i:nth-of-type(1) {
        color: transparent;
        transition: 1s;
    }





.newsletterMain {
    grid-area: letter;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 3px double black;
}
.newsletterBody {
    width: 800px;
    text-align: center;
}
.newsletterBody h3 {
    font-size: 24px;
    letter-spacing: 2px;
}
.newsletterBody h6 {
    font-size: 14px;
    color: #999;
    opacity: 0.8;
    font-weight: 200;
    margin: 5px 0px 20px;
}
.newsletterBody input {
    width: 380px;
    height: 40px;
    font-size: 20px;
    color: #999;
    font-weight: 100;
    margin: 0px 0px 0px;
    opacity: 0.8;
}
.newsletterBody input:hover {
    opacity: 1;
}
.newsletterBody p {
    font-size: 12px;
    word-spacing: 2px;
    margin-bottom: 15px;
    margin-top: 20px;
    color: #999;
    word-break: keep-all;
}
.newsletterBody button {
    width: 400px;
    height: 40px;
    font-size: 22px;
    background-color: black;
    letter-spacing: 2px;
    color: white;
    margin-bottom: 10px;
}
.newsletterBody button:hover {
    transition: 0.5s;
    background-color: white;
    color: black;
}
.redPlaceHolder::placeholder {
        color: red;
        opacity: 0.8; 
}
.emailError {
    color: red;
    margin-top: 5px;
    font-size: 14px;
    opacity: 0.8;
}