.newMain {
    grid-column: 2/3;
    grid-template-rows: auto auto auto;
}

.newHeader {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 3px double black;
}
    .newHeader h3 {
        grid-column: 2/3;
        text-align: center;
        font-size: 35px;
    }
    .newHeaderRight > .newCategory1 {
        grid-column: 3/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 20px;
        color: black;
        transition: 0.3s;
        border-radius: 3px;
    }
        .newCategory1 > label {
            grid-column: 1/2;
            justify-self: right;
        }
        .newCategory1 > select{
            grid-column: 2/3;
            justify-self: center;
            width: 150px;
            font-size: 20px;
        }
    .newHeaderRight > .newCategory2 {
        grid-column: 3/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 20px;
        color: black;
        transition: 0.3s;
        border-radius: 3px;
    }
        .newCategory2 > label {
            grid-column: 1/2;
            justify-self: right;
        }
        .newCategory2 > select{
            grid-column: 2/3;
            justify-self: center;
            width: 150px;
            font-size: 20px;
        }
.newProductsMain {
    grid-row: 2/3;
    margin-top: 30px;
    background-color: red;
    padding: 0px 100px 30px;
}
    .newProductsMain > .newProductsList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 30px 50px;
        justify-content: flex-start;
    }

    /* product box */

.productBox {
    padding: 60px 10px 50px 10px;
    background-color: green;
}
.productPhoto {
    width: 252px;
    height: 126px;
}